@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');
}

/*body {
  background-color: #fff;
  padding:5px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
  margin:0;
  margin-bottom: 50px;
  text-align:center;
}*/

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:27px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
/*   width: 700px; */
  position: relative;
  /*height: 720px;*/
  overflow: scroll;
  margin: 10 auto;
  display:block;
  padding:0;
  text-align:left;
  width:1000px;
  
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

{
  width:270px;
/*   float:left; */
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

li:first-child a {
  border-radius:5px 0 0 5px;
}

li:last-child a {
  border-radius:0 5px 5px 0;
}

ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

ul a:hover {
  color:#999;
}

ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

ul li + li + li {
  border-right:none;
  width:89px;
}

ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:200px;
  float:none;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
.block1 { 
    display:block;
    left: 300px;
    position: absolute;
/*     overflow: auto; */
}
.block2 { 
    display:block;
    top: 300px;
    position: absolute;
/*     overflow: auto; */
}
.block3 { 
    display:block;
    top: 600px;
    position: absolute;
/*     overflow: auto; */
}
#footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #f0fff0; /* Цвет фона */
  /*color: #fff;  Цвет текста */
  width: 100%; /* Ширина слоя */
  height: 50px;
}
body {
  margin:0;
  padding:0px;
  text-align:center;
  overflow: auto;
/*       margin-bottom: 50px; */
}
header {
  height: 50px; 
  width: 100%;
  overflow: hidden;
  background: #f0fff0;
}
#wrapper {
  display:block;
  margin:20px auto;
  padding:10;
  text-align:left;
  width:1000px;
  height:100%;
  position: absolute;
  margin-bottom: 150px;
/*       overflow: auto; */
}
#container1 {
  display:block;
  float:left;
  width:270px;
  position: relative;
}
#container2 {
  display:block;
  float:left;
  width:270px;
  left: 40px;
  position: relative;
}
#container3 {
  display:block;
  float:left;
  width:270px;
  top: 250px;
  position: absolute;
}
#container4 {
  display:block;
  float:left;
  width:270px;
  left: 310px;
  top: 250px;
  position: absolute;
}
#container5 {
  display:block;
  float:left;
  width:270px;
  top: 500px;
  position: absolute;
}
#container6 {
  display:block;
  float:left;
  width:270px;
  left: 310px;
  top: 500px;
  position: absolute;
}
#container7 {
  display:block;
  float:left;
  width:270px;
  top: 750px;
  position: absolute;
}
#container8 {
  display:block;
  float:left;
  width:270px;
  left: 310px;
  top: 750px;
  position: absolute;
}
#container9 {
  display:block;
  float:left;
  width:270px;
  top: 1000px;
  position: absolute;
}
.clear {
  float:none;
  position: relative;
  height:50px;
  padding-bottom: 6px;
} 
/*@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    width:720px;
    margin:0;
    overflow: auto;
  }

  .header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  a small {
    display:inline;
  }

  ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  {
    padding:0;
  }

  ul, p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  ul {
    width:99%;
  }

  li, ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}*/
